<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guts.carpaltunnel.mobileapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:name="HSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

       <activity android:name=".WelcomeActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/title_activity_loan_application"
            android:parentActivityName=".WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="guts.carpaltunnel.mobileapp.WelcomeActivity" />
        </activity>
        <activity android:name=".LocationActivity"></activity>
        <activity android:name=".SignatureActivity"></activity>
        <activity android:name=".HelpActivity"></activity>
        <activity android:name=".FirstContactActivity"></activity>
        <activity android:name=".UniversityActivity"></activity>
        <activity android:name=".BankActivity"></activity>

    </application>

</manifest>